spacy
scispacy
torch
accelerate
peft
datasets
scikit-learn
neo4j
biopython
flwr[simulation]
networkx
torch-geometric
numpy
rank_bm25
sentence-transformers
faiss-cpu
pysbd
joblib
conllu
nmslib-metabrainz
pydantic<2.0
typing-extensions